<html>
    <body style="background-color: #E5C0C8;"></body>
    <h1>Decision Tree</h1>
    <form method="get" action="/">
        <button type="submit" style="background-color:#B1A6A4;">Main Menu</button>
    </form>
    <form action="dectree" method="post"> 
        <p>Please Key in your Income:</p>
        <p><input type ="number" step = "1" name = "income" STYLE="background-color: #697184;" ></p>
        <p>Please Key in your Age:</p>
        <p><input type ="number" step = "1" name = "age" STYLE="background-color: #697184;" ></p>
        <p>Please Key in your Loan Amount:</p>
        <p><input type ="number" step = "1" name = "loan" STYLE="background-color: #697184;" ></p>
        <p><input type = "submit" value = "Enter"></p>
        {{prediction}}
</html>
